[Desktop Entry]
Type=Application
Name=AYAB
Exec=ayab
Comment=All Yarns Are Beautiful
Icon=ayab
Categories=Graphics;
Terminal=false
X-AppImage-Version=v1.0.0
